body, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

.field-validation-error{
    color:red;
}

.Error {
    border: solid 0.5px red!important;
    outline-color: red;
}

#container {
    width: 100%;
}

h1 {
    font-size: 3em;
    line-height: 1.5;
}

#container, select, input[type='text'], input[type='email'], input[type='submit'], textarea, h2, p {
    font-size: 1.15em;
    line-height: 1.5;
}

input[type='text'], input[type='email'], select, textarea, fieldset {
    width: 100%;
    margin-top: 2%;
    border: solid 0.5px #b3b3b3;
    box-sizing: border-box;
    padding: 1% 2%;
}

#formHeader {
    text-align: center;
}

#formContain {
    width: 60%;
    margin: auto;
}

textarea {
    resize: vertical;
    overflow: auto;
    min-height: 50px;
}

p {
    margin: 0;
}

#cusType input{
    transform: scale(1.5);
}

#submitContain {
    text-align: center;
    border: none;
}

input[type='submit'] {
    box-shadow: 1px 1px #b3b3b3;
    border-radius: 5px;
    outline: none;
    min-width:15%;
}

    input[type='submit']:hover {
        background: lightgray;
        cursor: pointer;
        box-shadow: 0 0;
    }

@media (max-width: 600px) {

    h1 {
        font-size: 2em;
        line-height: 1.5;
    }

    #formContain {
        width: 80%;
        margin: auto;
    }

    input[type='text'], input[type='email'], select, textarea, fieldset {
        margin-top: 5%;
        padding: 1% 5%;
    }
}
