<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header><h1>Amigo Bug Report</h1></header>
    <div id="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Amigo Bug Report</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
